GEO_OPERATOR_DATA_ROOT=./data
GEO_OPERATOR_DATABASE=./data/operator.sqlite3
GEO_OPERATOR_HOST=127.0.0.1
GEO_OPERATOR_PORT=8765
GEO_OPERATOR_BROWSER_CHANNEL=chrome
GEO_OPERATOR_BROWSER_ACTION_DELAY_MIN=0.8
GEO_OPERATOR_BROWSER_ACTION_DELAY_MAX=2.0
